.reviewer-av {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.reviewer-meta {
  display: inline-block;
  .reviewer-date {
    font-style: italic;
    font-size: 0.8rem;
  }
}
.reviewer-name {
  
}
.reviewer-content {
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.el-rate__item {
  width: 1.5rem;
}
.review-card {
  padding: 0.5rem 0;
}

.el-tag {
  font-size: 0.8rem;
  line-height: 1rem !important;
  margin-right: 0.2rem !important;
  height: auto !important;
}