@font-face {
  font-family: 'Gibson Bold';
  src: url('../fonts/Gibson-Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Gibson Light';
  src: url('../fonts/Gibson-Light.woff');
  font-weight: light;
}
@font-face {
  font-family: 'Gibson Regular';
  src: url('../fonts/Gibson-Regular.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Gibson SemiBold';
  src: url('../fonts/Gibson-SemiBold.woff');
}